<!-- description.html -->


{% block title %}Problem Description{% endblock %}


<div class="problemDescription">
  <h2>{{ prob.name }} ({{ prob.difficulty }})</h2>
  <p>{{ prob.desc }}</p>
</div>

<div class="code-submission mt-4">
 <h2>Submit Your Code</h2>
  <form action="{% url 'verdict' prob.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="language">Select Programming Language:</label>
      <select class="form-control" id="language" name="language">
        <option value="python">Python</option>
        <option value="cpp">C++</option>
        <option value="java">Java</option>
      </select>
    </div>
    <div class="form-group">
      <label for="code">Paste your code here:</label>
      <textarea class="form-control" id="code" name="code" rows="12" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Code</button>
  </form>
</div>



<a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home Page</a>

